head {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    border-color: darkblue
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue
}

